:root {

            --primary-text-color: #757575;
            --title-text-color: #212121;
            --accent-color: #2196F3;
            --white-color: #FFFFFF;
            --background-color: #2F303A;
            --second-background-color: #F5F4FA;
            --svg-color: #AFB1B8;
            --card-set-gap: 30px;
}
html {
    box-sizing: border-box;
}

body{
    color: var(--primary-text-color);
    background-color: var(--white-color);
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}
p{
    margin: 0px;
    line-height: 1.71;
}
ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
* *,
*::before,
*::after {
    box-sizing: inherit;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.whatwedo.section {
    padding-top: 0px;
}
.hero.section {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/*                                                  HEADER SECTION */
.header-wrap {
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.header {
    height: 80px;
    display: flex;
}
.header-border {
    border-bottom: 1px solid #ECECEC;
    height: 80px;
    display: flex;
}

.header-navigation {
    display: flex;
    align-items: center;
}
.header-navigation .logo-header {
    margin-right: 93px;
}
.header-description {
    display: flex;
    margin: 0px;
    list-style-type: none;
    font-weight: 500;
}
.header-description .header-item + .header-item {
    margin-left: 50px;
}

.header-contact {
    display: flex;
    margin-left: auto;
}
.header-contact :not(:last-child) {
    margin-right: 50px;
}
.header-contact :first-child {
    margin-right: 10px;
}
.logo-header, .logo-footer{
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    font-family: Raleway, sans-serif;

    transition-property: text-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-header:hover, .logo-footer:hover {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
:current(.link-curent) {
    color: var(--accent-color);
}
.link-curent {
    color: var(--accent-color);
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
}
.link-curent:hover {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}
.link-curent::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--accent-color);
    width: 100%;
    height: 4px;
    border-radius: 2px;
}
.logo-web {
    color: var(--accent-color);
}
.logo-studio {
    color: var(--title-text-color);
}
.header-item {
    letter-spacing: 0.02em;
    line-height: 1.14;
}
.header-link {
    color: var(--title-text-color);
    position: relative;
    text-decoration: none;
    font-weight: 500;
    padding-top: 32px;
    padding-bottom: 32px;

    transition-property: color;
    transition-property: text-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover {
    color: var(--accent-color);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.header-contact {
    list-style-type: none;
    font-weight: 500;
}
.header-contact :focus {
    color: var(--accent-color);
}
.contact-link {
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    fill: var(--primary-text-color);
    padding-top: 32px;
    padding-bottom: 32px;

    transition-property: color fill text-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
    fill: var(--accent-color);
    color: var(--accent-color);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
/*                                       FOOTER*/
.footer {
    background-color:var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-wrap {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.logo-footer {
    padding-bottom: 0px;
}
.logo-footer-studio {
    color: var(--white-color);
}
.footer-descraption {
    list-style-type: none;
    margin: 0px;
    width: 231px;
    padding-left: 0px;
}
.contact {
    margin-top: 20px;
    line-height: 1.714;
}
.footer-link {
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.footer-item {
    margin-bottom: 9px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-descraption :last-child {
    margin-bottom: 0px;
}
.footer-item :hover {
    color: var(--accent-color);
}
.footer-item :focus {
    color: var(--accent-color);
}
.adress-footer {
    color: var(--white-color);
}
.invite-titel {
    color: var(--white-color);
    font-style: normal;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
}
.bg-icon {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}
.white {
    fill: var(--white-color);
}
.join-us {
    position: relative;
    display: flex;
    direction: column;
    width: 570px;
}
.join-email {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
}
.join-place {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--background-color);
    padding: 15px;
}
.join-place:focus {
    outline: none;
    color: var(--primary-text-color);
}
.join-button {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 12px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--accent-color);
    border: var(--accent-color);
    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    
    color: var(--white-color);
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-button:hover {
    transform: scale(1.07);
} 
.joinus-text {
    display: block;
    margin-bottom: 20px;
}
.join-img {
    margin-left: 9px;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!STUDIO PAGE!!!!!!!!!!!!!!!!!!!!!*/
/*                                      HERO SECTION                 */
.hero{
    text-align: center;
    background-image: linear-gradient(to right, rgba(47,48,58,0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    background-color: var(--background-color);
}
.hero-titel {
    text-align: center;
    margin-bottom: 30px;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    letter-spacing: 0.06em;
    line-height: 1.36;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.hero-button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    border-style: hidden;

    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    color: var(--white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    line-height: 1.87;
    letter-spacing: 0.06em;
    transform:  scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover {
    transform: scale(1.07);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

    background-color: rgba(0, 0, 0, 0.2);
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    scroll-behavior: none;
    width: 528px;
    height: 581px;
    padding: 40px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: var(--white-color);

    transform: translate(-50%, -50%) scale(1);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}
.close-icon {
    width: 11px;
    height: 11px;
}
.close-modal:focus .close-icon, .close-modal:hover .close-icon{
    fill: var(--accent-color);
}

.form-titel {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;

color: var(--title-text-color);

}
.form-label {
    font-weight: 400;
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
    text-align: start;
    margin-bottom: 4px;
}
.checkpoints {
    display: block;
    padding: 12px 12px 12px 42px;
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 10px;
    outline: none;
}
.checkpoints:focus, .textarea:focus {
    outline: 1px solid var(--accent-color);
}
.checkpoints:focus ~ .icon-form {
    fill: var(--accent-color);
}
.icon-wraper {
    position: relative;
}
.icon-form {
    position: absolute;
    bottom: 11px;
    left: 12px;
    width: 18px;
    height: 18px;
}
.textarea {
    padding: 12px 16px;
    resize: none;
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 20px;
}

.check-point {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
.checkpoint-label {
    display: flex;
    justify-content: center;
}

.check-point-icon {
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    margin-right: 9px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-point:checked ~ .svg-check > .check-point-icon {
    border: none;
    background-color: var(--accent-color);
}
.agree-link {
    color: var(--accent-color);
    text-decoration: underline;
}
.submit {
    color: var(--white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    min-width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*                    ABOUT US SECTION                    */

.about-desription, .typeofproduct-item, .whatwedo-list, .ourteam-list {
    list-style-type: none;
}
.about-desription {
    display: flex;
    justify-content: center;
    gap:30px;
    padding: 0px;
}
.about-svg-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.about-list-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--second-background-color);
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.about-list {
    width: 270px;
}
.about-titel {
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.14;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.about-paragraph {
    margin: 0px;
}

.whatwedo-description {
    display: flex;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
}
.whatwedo-list {
    position: relative;
    z-index: 1;
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.whatwedo-info{
    color: var(--white-color);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
    font-weight: 700;
}

.ourteam {
    background-color: var(--second-background-color);
}
.ourteam-descraption {
    display: flex;
    margin: 0px;
    padding-left: 0px;
    gap: 30px;
}
.ourteam-img {
    width:270px;
    height: 260px;
}
.ourteam-wrap-item {
    width: 270px;
    height: 428px;
    background-color: var(--white-color);
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 30px;
}

.ourteam-titel, .whatwedo-titel {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    font-weight: 700;
    font-size: 36px;
    margin: 0px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}
.ourteam-name {
    font-weight: 500;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 1.18;
}
.ourteam-paragraph {
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 16px;
}
.social-description {
    display: flex;
    justify-content: center;
}
.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    fill: var(--svg-color);
    border-radius: 50%;


    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #2196F3;
    fill: #FFFFFF;
}

.social-item {
    width: 44px;
    height: 44px;
}

.social-description li+li {
    margin-left: 10px;
}

.social-icon {
    width: 20px;
    height: 20px;
    color: currentColor;
}

.about-titel, .whatwedo-titel, .typeofproduct-item,.exampleofproduct-titel, .ourteam-titel, .ourteam-name {
    color: var(--title-text-color);
}
/* Regular-customers Section*/
.customers.container {
    text-align: center;
}
.customers-titel {
    font-size: 36px;
    line-height: 1.17;
    color: var(--title-text-color);
    margin-bottom: 50px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.customers-description {
    display: flex;
    justify-content: space-between;
}
.customers-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    fill: var(--svg-color);
    border-radius: 4px;
    border: 1px solid var(--svg-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
    border: 1px solid #2196F3;
    fill: var(--accent-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!! PORTFOLIO PAGE!!!!!!!!!!*/
/*                                                TYPE OF PRODUCT SECTION*/

.typeofproduct-description {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 50px;
}
.typeofproduct-item {
    margin-right: 8px;
}
.typeofproduct-description :last-child{
    margin-right: 0px;
}

.typeofproduct-button {
    padding: 6px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: Roboto;
    background: var(--second-background-color);
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    border-style: hidden;
    line-height: 1.59;
    letter-spacing: 0.03em;
    transition-property: background-color color transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.typeofproduct-button:hover,
.typeofproduct-button:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.exampleofproduct-descraption {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
    list-style-type: none;
    box-sizing: border-box;
}
.shadow-wraper {
    color: var(--primary-text-color);
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.shadow-wraper:hover,
.shadow-wraper:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.exampleofproduct-item {
    position: relative;
    flex-basis: calc( 100% / 3 - var(--card-set-gap));
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
}

.exampleofproduct-titel{
margin-bottom: 4px;
line-height: 2.2;
font-size: 18px;
font-weight: 700;
letter-spacing: 0.06em;
}
.exampleofproduct-paragraph {
    font-size: 16px;
    line-height: 1.9 ;
    color: var(--primary-text-color);
}
.card-content {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 24px;
    padding-bottom: 24px;
    border: 1px solid #EEEEEE;
}
.img-wrap {
    position: relative;
    overflow: hidden;
}
.product-info {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 24px;
    padding-right: 24px;

    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    line-height: 1.5;
    font-size: 18px;
    color: var(--white-color);
    background-color: rgba(33, 150, 243, 0.9);
}
.exampleofproduct-item:hover .img-wrap .product-info {
    transform: translateY(0%);
}